<app-fullscreen-loading *ngIf="movieDetail.isLoading"></app-fullscreen-loading>
<ng-container *ngIf="!movieDetail.isLoading && movieDetail.movie">
	<app-backdrop-cover [imageUrl]="movieDetail.movie.backdrop_path | image: true">
		<app-container [hasVerticalPadding]="true">
			<button mat-icon-button (click)="goBackPage()">
				<mat-icon>arrow_back</mat-icon>
			</button>
		</app-container>
	</app-backdrop-cover>
	<app-movie-snapshot [movie]="movieDetail.movie"></app-movie-snapshot>
	<app-container>
		<hr />
		<app-overview-section title="Overview" [text]="movieDetail.movie.overview"></app-overview-section>
	</app-container>
</ng-container>
