.header {
	background-image: url('/assets/images/movie-db-background.jpg');
	background-position: center;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	height: 220px;
	width: 100%;

	.header-icon {
		width: 80px;
	}
}
