@import 'src/variables';

.movie-snapshot {
	min-height: calc(#{$movie-poster-height} + #{$movie-poster-offset-top});

	.movie-snapshot-offset-wrapper {
		position: relative;

		.movie-snapshot-poster-image {
			border-radius: $movie-poster-border-radius;
			height: $movie-poster-height;
			position: absolute;
			top: $movie-poster-offset-top;
			width: $movie-poster-width;
		}

		.movie-snapshot-wrapper {
			padding-left: $movie-poster-width-offset;
		}
	}
}
