@import 'src/variables.scss';

.user-score {
	border-radius: 0.75em;
	display: inline-block;
	padding: 0.3em 0.9em;

	&.score-high {
		background-color: $primary;
	}

	&.score-average {
		background-color: $tertiary;
	}

	&.score-low {
		background-color: $danger;
	}
}
