<app-scroll-layout (scrollAtBottom)="scrollAtBottom.emit()">
	<section class="movies-container-wrapper py-4">
		<app-heading-section>{{ title }}</app-heading-section>
		<section class="movies-container row">
			<article *ngFor="let movie of movies" class="col-md-3 col-6">
				<app-movie-card [movie]="movie" [routerLink]="[movie.id]"></app-movie-card>
			</article>
		</section>
		<app-loading-section *ngIf="isLoading"></app-loading-section>
		<app-not-found
			*ngIf="isShowingNotFoundText"
			text="Unfortunately, we could not find any results matching your query."
		>
		</app-not-found>
	</section>
</app-scroll-layout>
