$primary: #01d277;
$secondary: #081c24;
$tertiary: #4902a3;
$quartenary: #0f303d;
$danger: #d1225b;

$text-light: #e3f4fc;
$text-dark: #9fbbc7;

$movie-backdrop-height: 250px;

$movie-poster-border-radius: 1em;
$movie-poster-offset-top: -75px;
$movie-poster-height: 195px;
$movie-poster-width: 130px;
$movie-poster-width-offset: 145px;
